# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/
env/

# Secrets
.env
.env.local
.env.pk
*.pem

# Project data / build artefacts
vectorstore/*
!vectorstore/.gitkeep
# data/*.db
data/*.db-journal

# IDE
.idea/
.vscode/
*.swp
.DS_Store
